 

body {
    
    margin: 0px;
   
    font-family: 'Akaya Kanadaka', cursive;
    color: black;
    
}

a {
    text-decoration: none;    
}

#first{
  top: 150px;
  font-size: x-large;
  position:absolute;
}


nav ul {
  text-align: center;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

nav ul li {
  display: inline-block;
  margin: 10px 0px;
  text-align: center; 
  padding: 20px ;
  border-right: 50px ;
  color: black;
}
nav{
  color: black;
}

ul {
  width: 100%;
  font-size: xx-large;
}

article ul {
  margin: 60px ;
  padding: 30px 0px; 
 color: black;
  
  border-radius: 15px;
}



article ul li img {
  width: 350px;
  height: 225px;
  float: left;
  margin: 40px 55px;

  border-radius: 10px;
}

.section_divider {
  border: 0; 
  height: 1px; 
  width: 80%;
}

#about_us {
  margin: 40px 0px;
}

.left_col {
  display: inline-block;
  margin: 10px 50px;
  width: 45%;
}

.left_col h2 {
  margin: 5px 0px;
}

.right_col {
  display: inline-block;
  width: 45%;
  margin: 10px 20px;
  float: right;
}



section h2 {
  text-align: center;
  font-size: 2em;
  margin: 30px 0px 30px 0px;
}

section ul li {
  list-style-type: none;
}

section ul li img {
  width: 369px;
  height: 250px;
  float: left;
  margin: 40px 55px 20px 55px;
  
  border-radius: 10px;
}



#handler_img_cap {
  margin-left: 110px;
}

#in_cookies_cap {
  margin-left: 160px;
}

#contact {
  color: black;
  font-size: 3em;
  text-align: center;
  margin: 0px 0px 50px 0px;
}




table {
  font-size: 1em;
  width: 400px;
 
  
}

#store_name {
  margin: 10px 20px 40px 20px;
}

#table-title {
  text-align: center;

}

table, th, td {
   border:  solid 1px black;
   
  
}

td, th, tr {
  border: solid 1 px;
  padding: 5px 5px;
  text-align: center;
}


#store_form{
  float: right;
  top: 50px;
  right: 100px;
  position: relative;
font-size: large;
}

#fish{
  position: relative;
  float:right;
  top:50px;
}

#first{
  top: 150px;
}